.container-fluid {
  margin-top: 50px;
}

.box {
  border-radius: 10px;
  border: 3px solid rgba(143, 174, 127, 0.96);
  padding: 2px 2px;
}

.box-row {
  border-radius: 30px;
  border: 3px solid rgba(143, 174, 127, 0.96);
  padding: 20px 2px;
  margin-right: 1px;
  margin-left: 1px;
}

.box-content {
  padding: 10px;
}

.result-box {
  border-radius: 15px;
}

.scroll-div {
  overflow: scroll;
  white-space: nowrap;
}


.h-350 {
  height: 350px;
}

.h-250 {
  height: auto;
}

.p-6 {
  padding-top: 3em;
  padding-bottom: 3em
}

.h-400 {
  height: 400px;
}

.box-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

.box-content::-webkit-scrollbar-track {
  border-radius: 10px;
  /*background-color: #FFF;*/
}

.box-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,
  40% 0%,
  75% 84%,
  from(#4D9C41),
  to(#199111),
  color-stop(.6, #54DE5D))
}

.bg-green {
  background-color: rgba(130, 249, 54, 0.96);
}

.bg-light-green {
  background-color: lightgreen;
}

.bg-orange {
  background-color: orange;
}

.bg-danger {
  background-color: red;
}

p {
  color: blueviolet;
  margin: 15px 0;
  text-align: center;
}

.btn-green {
  font-size: 18px;
  width: 150px;
  border-radius: 10px;
  padding: 5px;
}

@media (min-width: 768px) {
  .container-fluid {
    margin-top: 50px;
    padding-right: 80px;
    padding-left: 80px;
  }

  .box-row {
    border-radius: 30px;
    border: 3px solid rgba(143, 174, 127, 0.96);
    padding: 20px 2px;
    margin-right: 5px;
    margin-left: 45px;
  }

  .result-box {
    border-radius: 15px;
    margin-left: 1.5rem;
  }

  .h-250 {
    height: 250px;
  }

  .print-button {
    margin-left: 3rem;
  }
}
